<p>student works!</p>
<br>
<div class="row">
  <label for="id">ค้นหาด้วย id
  <input type="text" id="id" name="id">
    <button name="sendData" (click)="findById()">send data</button>
  </label>

</div>
<br>
<button name="all student" (click)="findAllStudent()">all student</button>
<br>
<br>

<table *ngIf="studentById ; else isNull">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>grade</th>
      <th>faculty</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{studentById.id}}</td>
      <td>{{studentById.name}}</td>
      <td>{{studentById.grad}}</td>
      <td>{{studentById.faculty.name}}</td>
    </tr>
    </tbody>
</table>
<ng-template #isNull>don't have id</ng-template>

<br>

<table *ngIf="totalStudent">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>grade</th>
    <th>faculty</th>
  </tr>
  </thead>

  <tbody *ngFor="let item of totalStudent">
  <tr>
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.grad}}</td>
    <td>{{item.faculty.name}}</td>
  </tr>
  </tbody>
</table>

